<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success">New Recipe</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div *ngIf="recipes.length > 0; then show else noShow"></div>
    <ng-template #show>
      <ul class="list-group" *ngFor="let recipe of recipes">
        <rb-recipe-item [recipe]="recipe" (click)="onSelected(recipe)"></rb-recipe-item>
      </ul>
    </ng-template>
    <ng-template #noShow>
      <h3>No products to display</h3>
    </ng-template>
  </div>
</div>
